<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ShopSphere</title>

@* bootstrap library import *@
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
<script src="/lib/bootstrap/js/bootstrap.bundle.min.js" defer></script>

@* fontawesome library import *@
<link rel="stylesheet" href="/lib/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/lib/fontawesome/css/brands.min.css">
<link rel="stylesheet" href="/lib/fontawesome/css/solid.min.css">
<link rel="stylesheet" href="/lib/fontawesome/css/regular.min.css">