@model UserNavViewModel

<nav class="d-flex justify-content-center align-items-center position-relative">
    <a id="company-logo" asp-action="index">
        <h1>ShopSphere</h1>
    </a>
    <form class="d-flex gap-3" asp-action="search" method="get">
        <select class="form-select" asp-items="@Model.CategoryDropdown" asp-for="@Model.Category">
            <option value="0">Category</option>
        </select>
        <div class="input-group search-product">
            <span class="input-group-text">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input type="search" class="form-control" asp-for="@Model.ProductName" placeholder="search product by name">
        </div>
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
    <div id="login-container">
        @if (User.Identity is not null) {
            @if (User.Identity.IsAuthenticated) {
                <a asp-controller="account" asp-action="logout">Logout</a>
            } else {
                <a asp-controller="account" asp-action="login">Login</a>
            }
        }
    </div>
</nav>
