@model UserNavViewModel

<nav class="navbar px-3">
    <a class="navbar-brand" asp-action="index">
        <h1>ShopSphere</h1>
    </a>
    <form class="d-flex" role="search" asp-action="search" method="get">
        <select class="form-select me-3" asp-items="@Model.CategoryDropdown" asp-for="@Model.Category">
            <option value="0">Category</option>
        </select>
        <div class="input-group search-product me-3">
            <span class="input-group-text">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input type="search" class="form-control" asp-for="@Model.ProductName" placeholder="search product by name">
        </div>
        <input type="submit" class="btn btn-primary" value="Search">
    </form>
    <div>
        @if (User.Identity is not null) {
            @if (User.Identity.IsAuthenticated) {
                <a class="btn btn-secondary" asp-controller="account" asp-action="logout">Logout</a>
            } else {
                <a class="btn btn-success" asp-controller="account" asp-action="login">Login</a>
            }
        }
    </div>
</nav>
