* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 100px auto 100px;
    height: 100%;
}

div.product-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.card {
    min-width: 240px;
}

.search-product {
    min-width: 360px;
}

.product-detail-table tr {
    line-height: 2.5rem;
}

.product-detail-table td:nth-child(even) {
    padding-left: 2.5rem;
}