@model List<CategoryViewModel>

<a asp-controller="home">Back to Home</a>
<a asp-action="upsert">Add New Category</a>

<table>
    <thead>
        <tr>
            <td>Category Name</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model) {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a asp-action="upsert" asp-route-id="@category.Id">Edit</a>
                    <a asp-action="delete" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>