@*
<a asp-controller="product">Products</a>
@if (User.IsInRole("User")) {
    <a asp-controller="cart">Cart</a>
    <a asp-controller="order" asp-action="user">Orders</a>
}
@if (User.IsInRole("Admin")) {
    <a asp-controller="order" asp-action="admin">Orders</a>
    <a asp-controller="category">Categories</a>
    <a asp-controller="account">Accounts</a>
}
@if (!User.Identity!.IsAuthenticated) {
    <a asp-controller="account" asp-action="login">Login</a>
    <a asp-route="registerUser">Register</a>
}
@if (User.Identity!.IsAuthenticated) {
    <a asp-controller="account" asp-action="logout">Logout</a>
}
*@
<partial name="_UserNavContent">

<div class="content container">
    <div class="bumper">
        <h1>WELCOME TO SHOPSPHERE</h1>
        <h2>Anything You Want!</h2>
    </div>
</div>

<partial name="_FooterContent">
