<a asp-controller="category">Categories</a>
<a asp-controller="product">Products</a>
<a asp-controller="account">Accounts</a>
@if (!User.Identity!.IsAuthenticated) {
    <a asp-controller="account" asp-action="login">Login</a>
    <a asp-route="registerUser">Register</a>
}
@if (User.Identity!.IsAuthenticated) {
    <a asp-controller="account" asp-action="logout">Logout</a>
}